@import "tailwindcss";
@keyframes marquee {
  from {
    transform: translateX(70%);
  }

  to {
    transform: translateX(-70%);
  }
}

.animate-marquee {
  animation: marquee 35s linear infinite;
}
